{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'moviemon/style.css' %}">
    </head>
    <body>
        <div class="screen">
            <div class="screen-data">
                {% block screen-data %} {% endblock %}
            </div>
            <div class="screen-main">
                {% block screen-main %} {% endblock %}
            </div>
        </div>
        <div class="control-box">
                <div class='control-directions'>
                    <div class="direction-up">
                        {% block btn-up %} {% endblock %}
                    </div>
                    <div class="direction-left-right">
                        {% block btn-left %} {% endblock %}
                        {% block btn-right %} {% endblock %}
                    </div>
                    <div class="direction-down">
                        {% block btn-down %} {% endblock %}
                    </div>
                </div>
                <div class='control-options'>
                    {% block btn-select %} {% endblock %}
                    {% block btn-start %} {% endblock %}
                    {% block btn-a %} {% endblock %}
                    {% block btn-b %} {% endblock %}
                </div>
        </div>
    </body>
</html>
