<!-- need contexts
btn_enable = {
    'left': bool,
    'right': bool,
    'up': bool,
    'down': bool,
    'select': bool,
    'start': bool,
    'a': bool,
    'b': bool
}
moviemons = [
    {
        imdbID: tt1234,
        Poster: url,
    }
    dict,
]
selected_id = str
-->
{% extends 'moviemon/base/base.html' %}

{% block title %} Moviedex {% endblock %}

{% block screen-data %}
<div class="btn-nav">Select - WorldMap</div>
<div class="btn-nav">A - detail</div>
{% endblock %}

{% block screen-main %}
<div class="moviedex-list">
        {% for moviemon in moviemons %}
        <img width="100" src={{moviemon.Poster}}
                {% if moviemon.imdbID == selected_id %}
                class="selected"
                {% endif %}
        >
        {% endfor %}
</div>
{% endblock %}


{% block btn-up %}
<button {% if not btn_enable.up %} disabled {% endif %}
        onclick="location.href=''">
        &#11014;
</button>
{% endblock %}

{% block btn-down %}
<button {% if not btn_enable.down %} disabled {% endif %}
        onclick="location.href=''">
        &#11015;
</button>
{% endblock %}

{% block btn-left %}
<button {% if not btn_enable.left %} disabled {% endif %}
        onclick="location.href='{% url "moviedex" %}?cmd=left&selected_idx={{selected_idx}}'">
        &#11013;
</button>
{% endblock %}

{% block btn-right %}
<button {% if not btn_enable.right %} disabled {% endif %}
                onclick="location.href='{% url "moviedex" %}?cmd=right&selected_idx={{selected_idx}}'">
        &#10145;
</button>
{% endblock %}

{% block btn-select %}
<button {% if not btn_enable.select %} disabled {% endif %}
        onclick="location.href='{% url "worldmap" %}'">
        select
</button>
{% endblock %}

{% block btn-start %}
<button {% if not btn_enable.start %} disabled {% endif %}
        onclick="location.href=''">
        start
</button>
{% endblock %}

{% block btn-a %}
<button {% if not btn_enable.a %} disabled {% endif %}
        onclick="location.href='{% url "moviedex_detail" selected_id %}'">
        A
</button>
{% endblock %}

{% block btn-b %}
<button {% if not btn_enable.b %} disabled {% endif %}
        onclick="location.href=''">
        B
</button>
{% endblock %}
