<!-- need contexts
btn_enable = {
    'left': bool,
    'right': bool,
    'up': bool,
    'down': bool,
    'select': bool,
    'start': bool,
    'a': bool,
    'b': bool
}
moviemons = [
    {
        id: tt1234,
        poster: url,
    }
    dict,
]
selected_id = str
-->
{% extends 'moviemon/base/base.html' %}

{% block title %} WorldMap {% endblock %}


{% block screen-main %}
    <div class="btn-nav">A - Save</div>
    <div class="btn-nav">B - Quit</div>
    <div class="btn-nav">Start - Cancle</div>
{% endblock %}


{% block btn-up %}
<button {% if not btn_enable.up %} disabled {% endif %}
        onclick="location.href=''">
        &#11014;
</button>
{% endblock %}

{% block btn-down %}
<button {% if not btn_enable.down %} disabled {% endif %}
        onclick="location.href=''">
        &#11015;
</button>
{% endblock %}

{% block btn-left %}
<button {% if not btn_enable.left %} disabled {% endif %}
        onclick="location.href=''">
        &#11013;
</button>
{% endblock %}

{% block btn-right %}
<button {% if not btn_enable.right %} disabled {% endif %}
        onclick="location.href=''">
        &#10145;
</button>
{% endblock %}

{% block btn-select %}
<button {% if not btn_enable.select %} disabled {% endif %}
        onclick="location.href=''">
        select
</button>
{% endblock %}

{% block btn-start %}
<button {% if not btn_enable.start %} disabled {% endif %}
        onclick="location.href='{% url "worldmap" %} '">
        start
</button>
{% endblock %}

{% block btn-a %}
<button {% if not btn_enable.a %} disabled {% endif %}
        onclick="location.href='{% url "save" %}'">
        A
</button>
{% endblock %}

{% block btn-b %}
<button {% if not btn_enable.b %} disabled {% endif %}
        onclick="location.href='{% url "title_screen" %}'">
        B
</button>
{% endblock %}
