<!-- need contexts
-->
{% extends 'moviemon/base/base.html' %}

{% block title %} Win {% endblock %}

{% block screen-data %}
    <div class="btn-nav">A - TitleScreen</div>
    <div class="btn-nav">B - Moviedex</div>
{% endblock %}

{% block screen-main %}
    <div style="text-align: center; font-size: 50px;">🎊 무비몬을 다 잡았다! 이겼다! 🎊</div>
{% endblock %}


{% block btn-up %}
<button {% if not btn_enable.up %} disabled {% endif %}
        onclick="location.href=''">
        &#11014;
</button>
{% endblock %}

{% block btn-down %}
<button {% if not btn_enable.down %} disabled {% endif %}
        onclick="location.href=''">
        &#11015;
</button>
{% endblock %}

{% block btn-left %}
<button {% if not btn_enable.left %} disabled {% endif %}
        onclick="location.href=''">
        &#11013;
</button>
{% endblock %}

{% block btn-right %}
<button {% if not btn_enable.right %} disabled {% endif %}
        onclick="location.href=''">
        &#10145;
</button>
{% endblock %}

{% block btn-select %}
<button {% if not btn_enable.select %} disabled {% endif %}
        onclick="location.href=''">
        select
</button>
{% endblock %}

{% block btn-start %}
<button {% if not btn_enable.start %} disabled {% endif %}
        onclick="location.href=''">
        start
</button>
{% endblock %}

{% block btn-a %}
<button {% if not btn_enable.a %} disabled {% endif %}
        onclick="location.href='{% url "title_screen" %}'">
        A
</button>
{% endblock %}

{% block btn-b %}
<button {% if not btn_enable.b %} disabled {% endif %}
        onclick="location.href='{% url "moviedex" %}'">
        B
</button>
{% endblock %}
